h1 {
    font-size: 2em;
    margin: 0.67em 0;
    text-align: center;
}

#menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: steelblue;
    padding-left: 0px;
    height: 45px;
}

li {
  float: right;
  display: flex;
  /*color: blue;*/
}

li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    margin: auto;
    float: right;
}

li a:hover{
  background-color:yellow;
  color:red;
}

.assessment > h2 {
  text-align: center;
}

.assessment > h4 {
  text-align: center;
  color: red;
}

.test > h4 {
  text-align: center;
  color: red;
}

.assessment{
  margin-left: 15px;
}

h1#title > a{
  text-decoration: none;
  color: red;
}

.finish{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
  background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color:#44c767;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:32px 76px;
  text-decoration:none;
  text-shadow:3px 1px 0px #2f6627;
}
.finish:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color:#5cbf2a;
}
.finish:active {
  position:relative;
  top:1px;
}

}

.assessment > a{
  text-align: center;
}
