h1 {
    font-size: 2em;
    margin: 0.67em 0;
    text-align: center;
}

#menu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: yellow;
    padding-left: 0px;
    height: 45px;
}

li {
  float: left;
  display: flex;
  /*color: blue;*/
}

li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: steelblue;
    width: 100%;
    margin: auto;
}
/*
.assessment > h2 {

}

.assessment > h4 {

}

.test > h4 {
  text-align: center;
}

.assessment{
  margin-left: 300px;
}*/

h1#title > a{
  text-decoration: none;
  color: red;
}

