<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://cdn.traitify.com/js/widgets/v1.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
  <main id="container">
  <header id="banner">
    <h1 id="title"><a href="/">Poke-Match</a></h1>
    <ul id="menu">
      <% if current_user %>
        <li><a href="/users/<%=current_user.id %>"><%= current_user.email %></a></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="/">home</a></li>
      <% else %>
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/">home</a></li>
      <% end %>
    </ul>
  </header>
  <body>
    <section id="restaurants">
      <div class="assessment"></div>
      <script>
        Traitify.setPublicKey("*");
        Traitify.setHost("https://api-sandbox.traitify.com");
        Traitify.setVersion("v1");
        var assessmentId = "***";
        Traitify.ui.load(assessmentId, ".assessment")
      </script>

      <%= yield %>
    </section>
  </body>
  </main>
</html>