

<h5>Today, you are feeling like a <%= @pokemon.name.capitalize %></h5>
<a href="http://www.pokemon.com/us/pokedex/<%= @pokemon.name %>"><%= @pokemon.name %>

<img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/<%= @pokemon_number %>.png">

