<p>This is the show page. cool bro</p>

<h4>Today, you are feeling like a <%= @pokemon.name.capitalize %></h4>

<img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/<%= @pokemon_number %>.png">
