<h2>Take the test</h2>

<script>
  Traitify.setPublicKey("*");
  Traitify.setHost("https://api-sandbox.traitify.com");
  Traitify.setVersion("v1");
  var assessmentId = "***";
  Traitify.ui.load(assessmentId, ".assessment")
</script>